* {
    padding: 0px;
    margin: 0px;
    
}

.back {
    background-image: url("img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    object-fit: cover;
    width: auto;
    mix-blend-mode: darken;
}

.text1 {
    padding-top: 13.5rem;
}

.text2 {
    font-family: Inter, "SF Pro Text", Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
    font-size: 20px;
    line-height: 26px;
}

.text3 {
    font-family: Inter, "SF Pro Text", Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
    font-size: 45px;
    line-height: 52px;
    text-align: start;
    letter-spacing: normal;
    color: hsl(210, 100%, 20%);


}

@media (max-width: 768px) {
    .text1 {
        text-align: center;
    }

    .back {
        background-color: lightblue;
    }

    .text2,
    .text3 {
        text-align: center;
    }

    .input {
        width: 80%;
        max-width: 40rem;
        margin: 0 auto;
    }
   
}

@media (max-width: 576px) {

    .input-group,
    .button2 {
        display: none;
    }
}

@media (max-width: 770px) {

    .button4 {
        margin-top: 0.8rem;
    }
}

.button {
    font-family: Inter, "SF Pro Text", Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
    FONT-SIZE: 16px;
    TEXT-ALIGN: center
}

.camera {
    color: black;
}

.camera:hover {
    color: rgb(0, 38, 85);
}

.button2 {
    font-weight: Inter, "SF Pro Text", Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
    FONT-SIZE: 14px;
    LINE-HEIGHT: 36px;
    TEXT-ALIGN: start;
    LETTER-SPACING: normal;
}

@media (max-width: 768px) {
    .col-sm-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
}

/* //footer////////////////////////////////////////////// */
.footer1 {
    font-family: Inter, "SF Pro Text", Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
    FONT-SIZE: 18px;
    LINE-HEIGHT: 22px;
    font-weight: 800;
    TEXT-ALIGN: start;
    LETTER-SPACING: normal
}

.footer2 {
    font-family: Inter, "SF Pro Text", Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
    FONT-SIZE: 14px;
    LINE-HEIGHT: 18px;
    TEXT-ALIGN: left;
    LETTER-SPACING: normal;
    
}

.footer2:hover {
    /* border-bottom:1px solid gray;
    width:9rem; */
    text-decoration: underline;
    color: hsl(210, 100%, 20%);

}

/* /////////////////////////////////////////////////play button */
#myButton {
    background-color: #000000;
    border: none;
    color: white;
    /* padding: 10px 20px; */
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


.download-button {
    margin: 10px;
}

.button-text {
    font-size: 10px;
    margin: 0;
}

.footer4 {
    cursor: pointer;
}

.store-name {
    font-weight: bold;
}

.lasttext {
    font-family: Inter, "SF Pro Text", Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
    FONT-SIZE: 14px;
    LINE-HEIGHT: 18px;
    TEXT-ALIGN: start;
    LETTER-SPACING: normal;
}

/* //////////////////////////////////////////////////// nav */
.Navbutton {
    background-color: rgb(0, 38, 85);
    color: white;
}

.Navback {
    background-color: #2d2c2c;
    color: white;
}

.Navitems {
    align-items: end;
    justify-content: end;
}

/* 
 */
 @media screen and (min-width:800px) {
    .mys{
        margin-left: 4rem;
    }
 }